{% extends 'base.html' %}


{% block content %}
<div class="container-fluid bg-white">
    
    <div class="d-flex flex-row justify-content-between align-items-start mx-4 p-1">
        <h2>Liste des Journaux</h2>
        
        <button class="btn btn-success">
            <a href="{% url 'creer_entree' %}" class="text-decoration-none text-white"> + Ajouter Un Journal</a>
        </button>
        
    </div>
    <form method="get" class="row g-2 mb-2 mx-4 justify-content-between">
        <div class="col-8 d-flex justify-content-between">
            <div >
                <select name="statut" class="form-select px-5">
                    <option value="">Tous les statuts</option>
                    {% for valeur, label in statut_choices %}
                        <option value="{{ valeur }}" {% if statut_actif == valeur %}selected{% endif %}>
                            {{ label }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div >
                <select name="categorie" class="form-select px-5">
                    <option value="">Toutes les catégories</option>
                    {% for cat in categories %}
                        <option value="{{ cat.id }}" {% if categorie_active == cat.id|stringformat:"s" %}selected{% endif %}>
                            {{ cat.nom_categorie }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        <button type="submit" class="btn btn-primary">Filtrer</button>
        </div>
        <div class="col-auto ">
            <a href="{% url 'entree' %}" class="btn btn-outline-secondary">Réinitialiser</a>
        </div>
    </form>
    <div class="row d-flex justify-content-center ps-2 ms-2 pt-2  container-fluid ">
        {% for entree in entrees %}
            <div class="col-4 m-2 p-3 rounded-4 shadow d-flex flex-column gap-2">
                <h4> {{entree.titre|truncatechars:25}} </h4>
                <p> {{entree.contenu_textuel|truncatechars:50 }} </p>
                <small> {{entree.date_creation}} </small>
                <div class="d-flex flex-row justify-content-between">

                <span class="badge bg-secondary my-1">{{ entree.categorie }}</span>
                    {% if entree.etat == 'en_cours' %}
                        <span class="badge bg-primary my-1">{{ entree.get_etat_display }}</span>
                    {% elif entree.etat == 'resolu' %}
                        <span class="badge bg-success my-1">{{ entree.get_etat_display }}</span>
                    {% elif entree.etat == 'bloque' %}
                        <span class="badge bg-danger my-1">{{ entree.get_etat_display }}</span>
                    {% endif %}

                
                </div>
                
                <a href="{% url 'detail_entree' entree.pk %} " class="btn btn-outline-primary mt-auto text-decoration-none">Voir les details</a>
                
            </div>
        {% endfor %}
    </div>
    
    {% if is_paginated %}
        <nav>
            <ul class="pagination justify-content-center">

                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Précédent</a>
                </li>
                {% endif %}

                <li class="page-item disabled">
                    <span class="page-link">
                        Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                    </span>
                </li>

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Suivant</a>
                </li>
                {% endif %}

            </ul>
        </nav>
    {% endif %} 
</div> 

{% endblock content %}
    